body {
  font-family: ;
  color: white;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  filter: ;
}

.inserts {
  font-size: 1.5em;
  text-decoration: none;
}

.purple-text {
  color: hsl(277, 64%, 61%);
}

main {
  background-color: hsl(244, 38%, 16%);
}

.container {
  display: block;
  margin: auto;
  width: 50%;
}

p {
  text-align: center;
}
