@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&family=Lexend+Deca:wght@100;200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@100;200;400&display=swap");
body {
  font-family: Inter;
  font-size: 15px;
  color: white;
  margin: 0;
  padding: 0;
  background-color: hsl(233, 47%, 7%);
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  border-radius: 2% 2% 0 0;
  opacity: 60%;
}

.image-wrap {
  background-color: hsl(277, 64%, 61%);
}

h1 {
  text-align: center;
  margin: 5% 0 0 0;
  opacity: 95%;
}

.inserts {
  font-size: 1.5em;
  text-decoration: none;
}

.purple-text {
  color: hsl(277, 64%, 61%);
  text-decoration: none;
}

main {
  background-color: hsl(244, 38%, 16%);
  border-radius: 2%;
  margin: 5%;
}

.container {
  display: block;
  margin: auto;
  width: 50%;
}
.container p {
  font-family: Lexend-Deca;
  margin-bottom: 2em;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 2em;
  opacity: 80%;
}

.container p ins {
  font-weight: bold;
  margin-bottom: 3em;
  letter-spacing: 0;
  font-size: 30px;
  opacity: 100%;
}

p {
  text-align: center;
}

.text-area {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 9%;
  width: auto;
}

.discover-paragraph {
  font-weight: 200;
  line-height: 1.9em;
  opacity: 80%;
  margin-bottom: 2em;
}

@media screen and (min-width: 1440px) {
  main {
    display: flex;
    flex-direction: row-reverse;
  }

  .text-area {
    padding: 0;
    width: 25%;
    margin: 2em auto 2em auto;
  }

  .discover-paragraph {
    text-align: left;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .inserts {
    margin: 2em;
  }
}
